/*==REGION: MAIN is #3 of the 4 regions shown on every page 
http://otwcode.github.com/docs/front_end_coding/patterns/supertypes
*/

#main {
  font-size: 0.875em; /* OLD 12.25px -> NEW  */
  line-height: 1.286; /* OLD _px -> NEW  */
  margin: auto;
  padding: 0.5em 2.5em 3.5em; /* OLD 7px, 35px, 49px -> NEW  */
  position: relative;
  min-height: 450px;
}

#main:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#main.dashboard {
  padding-left: 2em; /* OLD 28px -> NEW  */
  margin: 0.5em auto 1em 14em; /* OLD 7px, 14px, 196px -> NEW  */
}

#main.home {
  padding: 2em 7.5em 3.5em; /* OLD 28px, 105px, 49px -> NEW  */
}

#main.errors {
  background: url("/images/ao3_logos/sadface.png") top right no-repeat;
}

#main.error-502 {
  background: url("/images/ao3_logos/ao3-502.png") top right no-repeat;
}

#main.error-503-maintenance {
  background: url("/images/ao3_logos/logo-ruby.png") top right no-repeat;
}

#main.session {
  background: url("/images/logo.png") 0.5em 3em no-repeat; /* OLD 7px, 42px -> NEW  */
}

#main.errors h2 {
  display: block;
  margin-top: 0;
}

#main.errors p, #main.errors .heading {
  margin-right: 325px;
}

/*END== */
